*{margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
  
}
p{font-size: 12px;}
.container{width: 960px; margin:0 auto;}
.full_width_header{
    background-image: url(images/bg.png);
    background-repeat: repeat-x;
    width: 100%;
}
.full_width{
    width: 100%;
}
.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.header img{
   
}
.header ul{
    list-style-type: none;
    display: flex;
    gap:10px;
}
.header ul li{

}
.header ul li a{
    text-decoration: none;
    padding: 20px;
    color: #333333;
    text-transform: uppercase;
    font-family: 'Open Sans', Arial, sans-serif;
}
.active_link{
    background-color: #FF6764;
}
.header ul li a:hover{
    background-color: #E4E4E4;
}

/* Header part end Here */

/* Slider part Start Here */

/* Slider part end Here */
/* Product part end Here */
.product_container{
    margin-top: 50px ;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.product_container hr{
    width: 15%;
    border: none;
    height: 5px;
    background-color:#a49b9b;
    margin: 0 auto;
}
.product_item_row{
    display: flex;
    width:100%;
    gap:30px;
    margin-bottom: 50px;
}
.product_item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
}
/* Photo  part start Here */
.photo_container_full{
    width: 100%;
    text-align: center;
    background: #FF6764;
}
.photo_container_full_upper_text{
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
   
    justify-content: center;
    align-items: center;
    place-content: center;
    height: 150px;
}
.photo_container_full_upper_text hr{
    background-color:#faecec;
    height: 4px;
    width: 15%;
    border: none;
}
.photo_container_row{
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
}
.photo_item{
    text-align: center;
    background-color: aliceblue;
    border: 1px solid white;
   
}
.photo_item img{
    width: 100%;
    height: 80%;
    background-color: black;
}
.photo_item h5{
    font-size: 14px;
    color:#333333;
    margin-top: 5px;
}
button{
    padding: 10px;
    background:#FF6764;
    color: white;
    border: 1px solid white;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
button:hover{
    background: white;
    color:#FF6764
}

/* Photo  part end Here */
.upper_footer{
    width: 100%;
    height: 200px;
    background: url(images/clients-bg.png);
    
    background-repeat: repeat;
    background-size: 500px;
    text-align: center;
    background-blend-mode: overlay;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer_item h3{
    font-size: 18px;
}
.footer_item p{
    font-size: 12px;
}
.upper_footer p{
    background-color: #333333;
    font-size: 25px;
    color: white;
    margin: auto;
    padding: 5px;

}
/* footer start Here */
.footer_full{
    width: 100%;
    background-color: #FF6764;
    
}
.footer_container{
    width: 100%;
    height: 250px;
    background: #FF6764;
    display: flex;
    gap:30px;
    color: white;
    padding: 20px;
    padding-top: 40px; 
}
.footer_item{
    width: 25%;
    display: flex;
    flex-direction: column;
    gap:10px;
    line-height: 1.5;
}
.footer_item button{
    width: 120px;
   font-size: 12px;

}
/* footer end Here */
/* footer last part start Here */
.footer_bg{
    background: #FF6764;
    border-top: 1px  solid rgb(224, 210, 210)
}
.footer_last{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    color: white;
    padding: 20px;
    
}
.icon_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon_container i{
    border: 1px solid white;
    padding: 10px;
    margin-left: 10px;
    width: 40px;
}
.icon_container a{
    text-decoration:none;
    color:  white;
    
}
.icon_container i:hover{
    color: black;
    border: 1px solid black;
}

.product_item img:hover{
    background-color: #FF6764;
    border-radius: 50px;
}
/* footer last part end Here */
/* filling happy */